.contact {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


.title {
	padding: 6rem 0 2rem;
	font-size: 2.8rem;
}

.text {
	margin-left: 20%;
	text-align: left;
}

.contact-item {
	white-space: nowrap;
	padding-top: 2rem;
	font-size: 2rem;
}

.contact-item-text {
	padding-left: 10px;
}

.address {
	padding-top: 4rem;
	line-height: 34px;
}



.hours-list {
	margin-left: 20%;
	font-size: 2rem;
	list-style: none;
	line-height: 34px;
	text-align: left;
}

.hours {
	padding-left: 2rem;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 50vh;
	width: 100%;
}
.gmap-canvas {
	overflow: hidden;
	background: none !important;
	height: 50vh;
	width: 100%;
}

/* --------------- MEDIA ------------------------- */

@media (min-width: 520px) {
	.text,
	.hours-list {
		margin-left: 35%;
	}
}

@media (min-width: 768px) {
	.title {
		padding-bottom: 2.2rem;
		font-size: 2.8rem;
	}

	.contact-item {
		white-space: nowrap;
		padding-top: 2.2rem;
		font-size: 2.2rem;
	}
}

@media (min-width: 992px) {

	.text,
	.hours-list {
		margin-left: 0;
	}
	
	
	.contact-box, .hours-container {		
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}


	.wrapper {	
		padding:0 15%;
		
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.contact-item {
		white-space: nowrap;
		padding-top: 2.2rem;
		font-size: 2.2rem;
		text-align: left;
		padding-left: 4rem;
	}

	.mapouter {
		position: relative;
		text-align: center;
		border: solid 15px white;
		left: 50%;
		transform: translateX(-50%);
		height: 50%;
		width: 70%;
	}
}
