.background {
	position: relative;
	height: 50vh;
	width: 100%;
	background: linear-gradient(90deg, var(--color-first) 0%, var(--color-second) 100%);
	overflow: hidden;
}

.logo {
	position: absolute;
	height: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.hidden-title {
	width: 0;
	font-size: 1px;
}

.info {
	display: none;
}

@media (min-width: 500px) {
	.logo {
		
		height: 90%;
	}
}

@media (min-width: 992px) {
	.background {
		height: 60vh;
	}

	.logo {
		width: auto;
		height: 90%;
		top: 58%;
	}
}
