.background {
	position: relative;
	height: 100vh;
	width: 100%;
	background: linear-gradient(90deg, var(--color-first) 0%,var(--color-second) 100%);
}
.logo {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.arrow-down {
  position: absolute;
	height: 30px;
	box-shadow: 5px 5px rgba(0, 0, 0, 1);
  bottom: 30px;

}
