.menu-section{
    position: relative;
	display: flex;
	justify-content: center;	
	flex-direction: column;
	padding: 2em;
	height: 60vh;
	text-align: center;
    background-image:linear-gradient(45deg, rgba(0, 0, 0, 0.543), rgba(0, 0, 0, 0.598)),
	url(/public/assets/meals/indian-dishes-small.jpg);
	
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.title-small {
    padding: 100px 0;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--color-light-gold);
    border: 3px solid;
    text-decoration: none;
}

.title-big {
	display: none;
}


/* --------------- MEDIA ------------------------- */

@media (min-width: 768px) { 
	.menu-section{
		padding: 3rem 5rem;
	}

    .title-big {
		font-size: 56px;
	}
}


@media (min-width: 992px) { 


	.menu-section{
		padding: 0rem 10rem;
		height: 80vh;
	}

    .title-small {
		display: none;
	}

	.title-big {
		display: block;
		padding: 100px 0;
		text-transform: uppercase;
		color: var(--color-light-gold);
		border: 3px solid;
		text-decoration: none;
		font-size: 60px;
	}
}

@media (min-width: 1200px) {
	.menu-section{
		padding: 0 15%;
	}
}