.menu-items {
    display: none;
}

.active {
    display: block;
}

.category-button{
    width: 80%;
    padding: 2rem;
    background: none;
    color: var(--color-main);
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
    border: none;
    border-bottom: solid 1px #bbb

}

.category-button:hover{
    color: #000;
}