.cart {
	padding: 2rem;
	margin-bottom: 8rem;
	color: var(--color-second);
}

.cart h2 {
	font-size: 2rem;
	margin: 1rem 0;
	margin-bottom: 3rem;
}

.cart ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.final-cost {
	font-size: 2rem;
	text-align: right;
	text-transform: uppercase;
}

.sum {
	margin-left: 1rem;
	font-weight: bold;
	text-transform: none;
}

.actions {
	text-align: right;
}

.actions button {
	padding: 1.5rem 3rem;
	margin-top: 3rem;
	color: var(--color-light-gold);
	text-decoration: none;
	border-radius: 3rem;
	font: inherit;
	box-shadow: 5px 5px 10px #111;
	border: none;
	text-transform: uppercase;
	transition: all 0.3s;
	cursor: pointer;
}

.button {
	background: var(--color-main);
}

.button:hover {
	background: var(--color-second);
	box-shadow: 3px 3px 4px #000;
}

.close-button {
	margin-right: 2rem;
	background: var(--color-gray);
}

.close-button:hover {
	background: var(--color-gray-light);
	box-shadow: 3px 3px 4px #000;
}

.order-message {
	font-size: 2rem;
	padding: 3rem 0;
	text-transform: none;
}

.order-info {
	padding: 2rem;
	padding-bottom: 10rem;
	font-size: 2rem;
	text-transform: none;
}

.order-number {
	font-weight: bold;
}

/* --------------- MEDIA ------------------------- */

@media (min-width: 374px) {
	.cart {
		padding: 2rem 10%;
	}
}

@media (min-width: 768px) {
	.cart {
		padding: 2rem 20%;
	}

	.cart h2 {
		font-size: 2.4rem;
		margin-bottom: 3.5rem;
	}

	.final-cost {
		font-size: 2.2rem;
	
	}

}

@media (min-width: 992px) {
	.cart {
		padding: 2rem 25%;
	}

}

@media (min-width: 1200px) {
	.cart {
		padding: 2rem 30%;
	}

}