
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-gold: #E1C373;
  --color-gold-dark: #b5a16a; 
  --color-light-gold: #f3e8cd;
  --color-main: #4D2C3A; 
  --color-second:#422731;
  --color-first: rgb(18, 3, 39);



}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	background-color: white;
}

a {
  text-decoration: none;
}

