.carousel {
	display: none;
}

@media (min-width: 992px) {
	.carousel {
		display: block;
		margin: 0 auto;
	}

	.arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 45px;
		color: var(--color-gold);
		z-index: 1;
		cursor: pointer;
		transition: color 0.3s;
	}

	.arrow:hover {
		color: var(--color-light-gold);
	}

	.arrow-left {
		left: 32px;
	}

	.arrow-right {
		right: 32px;
	}

	.slides-container {
		overflow: hidden;
		height: 100%;
	}

	.dots-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    
	}

	.dot {
		margin: 0 10px;
		cursor: pointer;
		font-size: 40px;
    color: var(--color-gold);
    text-shadow: 0 0 5px var(--color-main);
    transition: color 0.3s;
	}

  .dot:hover {
    color: var(--color-light-gold);
  }
}
