.nav-logo {
	margin: 10px;
	font-size: 3.6rem;
}

.nav-logo img {
	width: 80%;
	padding: 15px;
	max-height: 100px;
	max-width: 355px;
}

.burger-btn {
	position: fixed;
	top: 10px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1                   px solid transparent;
    border-radius: 30px;
	cursor: pointer;
	z-index: 1000;
}
.burger-btn:focus {
	outline: none;
	border: 1px solid var(--color-main);
	border-radius: 8px;
}

.burger-btn:hover .burger-btn-bars::after,
.burger-btn:hover .burger-btn-bars::before {
	width: 100%;
}

.burger-btn-box {
	position: relative;
	width: 40px;
	height: 30px;
}

.burger-btn-bars,
.burger-btn-bars::after,
.burger-btn-bars::before {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: var(--color-gray-light);
	transition: width 0.3s;
}

.burger-btn-bars {
	width: 100%;
}
.burger-btn-bars::after {
	top: 13px;
	width: 60%;
}

.burger-btn-bars::before {
	top: 27px;
	width: 30%;
	transition-delay: 0.2s;
}

.white-bars-color,
.white-bars-color::after,
.white-bars-color::before {
	background-color: white;
}

.nav-mobile {
	position: fixed;
	top: 0;
	display: flex;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(/src/assets/background-pattern.png);
	z-index: 100;
	transform: translateX(-102%);
	transition: transform 0.3s;
}

.nav-link {
	position: relative;
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
	font-size: 2.3rem;
	color: var(--color-main);
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s;
}

.nav-link:hover {
	color: var(--color-second);
}

.nav-link::before {
	position: absolute;
	content: '';
	bottom: 5px;
	width: 100%;
	height: 2px;
	left: 0;
	background-color: var(--color-main);
	transform: scaleX(0);
	transition: transform 0.5s;
}

.nav-link:hover:before {
	transform: scaleX(1);
}

.nav-desktop {
	display: none;
}

@media (min-width: 768px) {
	.nav-logo img {
		max-width: 60%;
		max-height: 60%;
	}
}

@media (min-width: 992px) {
	.nav-container {
		position: sticky;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-around;
		background-color: white;
		z-index: 50;
	}
	.nav-logo {
		margin: 0;
		font-size: 3.6rem;
	}

	.nav-logo img {
		padding: 0;
		padding-top: 5px;
		height: 60px;
		width: 260px;
		max-width: none;
		max-height: none;
	}

	.burger-btn {
		display: none;
	}

	.nav-desktop {
		display: flex;
		font-size: 0;
	}

	.nav-item {
		display: inline-flex;
		align-items: center;
		padding: 0 1em;
		font-size: 2.3rem;
		color: darkgray;
		height: 100%;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color 0.5s, color 0.3s;
	}
	.nav-item:hover {
		background-color: darkgray;
		color: white;
	}

	.nav-mobile {
		display: none;
	}
}
