.section{
    position: relative;
    padding: 7rem 0;
	width: 100%;
    min-height: 100vh; 
   	background: url(/src/assets/background-pattern.png);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-main);
}
.title{
    padding: 3rem 0 4rem;
    font-size: 2.8rem;
}

@media (min-width: 992px) {
    .title{
        padding: 4rem 0 6rem;
        font-size: 3.2rem;
    }
}

